<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--  这里的value值是 命名空间+要引用的类名  -->
    <add key="AdapterName"   value="_07适配器模式.OperationAdapter"/>
  </appSettings>
</configuration>